{% load static %}
<!-- ================================
Start Footer
================================= -->
<footer>
    <div class="footerCol">
    <div class="container">
        <ul class="socialCol">
        <li><a href="javascript:void(0)"><img src="{% static 'images/fb.svg' %}" alt="..."></a></li>
        <li><a href="https://www.codingninjas.com/codestudio/profile/224f6872-bfc7-4efc-a317-619aa776b3a9"><img src="{% static 'images/insta.svg' %}" alt="..."></a></li>
        <li><a href="https://github.com/Phoenixgoku007"><img src="{% static 'images/twitter.svg' %}" alt="..."></a></li>
        <li><a href="https://www.linkedin.com/in/arunachalam-a-6408ba183/"><img src="{% static 'images/linkedin.svg' %}" alt="..."></a></li>
        </ul>
        <div class="copyrightCol">
        <p>Copyright ©{% now 'Y' %} All rights reserved. Designed by <a href="https://jamesgrangerdesign.co.uk/" target="_blank">Arun</a></p>
        </div>
    </div>
    </div>
</footer>
<!-- ================================
End Footer
================================= -->